@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #042e6c, #253d8d, #444cad, #665bce, #8a68ee);
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    color: white;
}

.container {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 6%;
}

.container h1 {
    font-size: 55px;
}

.container h2 {
    font-size: 50px;
    color: rgb(255, 255, 86);
    margin-bottom: 45px;
}

.box {
    background-color: rgba(255, 255, 255, 0.3); 
    margin-bottom: 45px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.box input {
    width: 400px;
    padding: 10px;
    font-size: 17px;
    margin-right: 15px;
    border-radius: 10px;
    border: none;
}

.box button {
    background-color: rgb(255, 255, 86);
    border: none;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
}

p {
    font-size: 22px;
}